.mainScreen{
    display: 'flex';
    flex-direction: 'column';
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.fileManagement{
    display: 'flex';
    flex-direction: 'row';
    justify-content: 'space-between';
    gap: 1rem;
    margin-bottom: 1rem;
}

/* @media (max-width: 768px) {
    .fileManagement {
        flex-direction: column;
        gap: 1rem;
    }
} */

@media (max-width: 480px) {
    .fileManagement {
        flex-direction: column;
        gap: 1rem;
    }
}