.contract-review {
    display: flex;
    flex-direction: column;
    /* background: #fff; */
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
  }
  
  .contract-review h2 {
    margin-bottom: 15px;
    color: #333;
  }
  
  .contract-review-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2rem;
    /* width: 70%; */
  }
  
  .review-output {
    margin-top: 20px;
    padding: 10px;
    background: #f4f4f4;
    border-left: 5px solid #007bff;
  }
  