.review-result {
    /* margin-top: 20px; */
    padding: 10px;
    min-height: 66.5vh;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background-color: var(--bg-white);
    white-space: pre-wrap;
}

.review-result h4 {
    margin-bottom: 10px;
}

.review-result p {
    text-align: left;
    line-height: 1.6;
    white-space: pre-wrap;
    --text-primary: #111827;
}

.review-result strong {
    font-weight: bold;
    --text-primary: #111827;
}