.profile-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
}
  
.profile-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.profile-user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-header-content h1{
    color: #333;
    font-size: 24px;
}


@media (max-width:600px){
    .logout-icon{
        font-size: 15px;
        color: #333;
    }
}